@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@font-face {
    font-family: 'rus';
    src: url('rsu_regular.woff');
}

body {
    font-family: "Segoe UI", Arial, sans-serif !important;
    background-color: #EFF2F7;
}

.ant-card {
    font-family: "Segoe UI", Arial, sans-serif !important;
}

.logo {
    position: relative;
    display: block;
    height: 47px;
    float: left;
}

a .logo {
    color: #FFFFFF;
}

a .logo span {
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    line-height: 0;
    position: absolute;
    top: 23px;
    font-weight: 400;
}

.ant-layout-header {
    padding: 0 25px;
    line-height: 47px;
    height: 47px;
}

.top-warp {
    width: 940px;
    min-width: 940px;
    margin: 0 auto;
}

.ant-menu-item {
    line-height: 47px;
}

.feed-warp {
    width: 940px;
    min-width: 940px;
    margin: 0 auto;
}

.feed-warp .c1 {
    width: 640px;
    float: left;
}

.feed-warp .c2 {
    margin-left: 24px;
    float: right;
    width: 276px;
}

.feed-warp:after {
    clear: both;
    content: '';
    display: block;
}

.feed-list-card,
.card-runtojob {
    min-height: 450px;
}

.feed-list-card .ant-card-body,
.card-runtojob .ant-card-body,
.profile-head .ant-card-body {
    padding: 0;
}

.card-runtojob {
    padding-bottom: 16px;
}

.post-box {
    padding: 16px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #e6ecf0;
}

.post-box .content {
    margin-left: 62px;
}

.post-box .content .post-head {
    display: flex;
    font-size: 14px;
}

.post-box .content .post-head .account-group .avatar {
    float: left;
    margin-top: 3px;
    margin-left: -62px;
    position: absolute;
}

.post-head .icon-spec-line:after {
    content: '-';
    margin-right: 5px;
}

.post-box .content .post-head-sub {
    margin-bottom: 5px;
    color: #657786;
}

.post-head-sub .opening {
    margin-right: 5px;
}

.post-head-sub .opening i {
    margin-right: 5px;
    color: green;
    vertical-align: baseline;
    font-size: 13px;
}

.post-box .content .post-footer {
    margin-top: 10px;
}

.post-footer .menu-footer {
    margin: 0;
    padding: 0;
    list-style: none;
}

.post-footer .menu-footer li {
    display: inline-block;
    min-width: 120px;
}

.post-footer .menu-footer li a {
    color: #657786;
}

.post-footer .menu-footer li a:hover {
    color: #009688;
}

.post-footer .menu-footer li i {
    vertical-align: baseline;
}

.post-footer .menu-footer li a span {
    margin-left: 10px;
}

.avatar {
    width: 48px;
    height: 48px;
}

.avatar-cc {
    border-radius: 50%;
    border: 2px solid #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
}

.fullname-group {
    display: flex;
    max-width: 100%;
}

.fullname-group .fullname {
    word-break: break-all;
    color: #14171a;
    font-weight: bold;
    margin-right: 5px;
}

.time .run-timestamp {
    color: #657786;
}

.post-box .content .feed-text-container {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #333333;
}

.right-header {
    float: right;
}

.menu-header {
    margin: 0;
}

.menu-header li {
    display: inline-block;
    margin-left: 15px;
}

.menu-header li a {
    display: block;
    font-weight: bold;
    widows: 100%;
    padding: 0 10px;
    text-decoration: none;
}

.menu-header li:hover a {
    color: #e8e8e8;
}

.menu-header li a {
    color: #FFFFFF;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background: transparent;
}

.profile-header {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
}

.profile-header:focus .dropdown-runtojob {
    display: block;
    z-index: 2;
}

.profile-header .dropdown-runtojob:hover {
    display: block;
    z-index: 2;
}

.profile-header:focus {
    outline: none;
}

.profile-header img {
    width: 32px;
    border-radius: 50%;
    position: relative;
    bottom: 4px;
}

.profile-header .down-icon i {
    margin-left: 5px;
    color: #FFFFFF;
}

.profile-header:hover .down-icon i {
    opacity: 0.5;
}

.dropdown-runtojob {
    display: none;
    position: absolute;
    right: 0;
    top: 47px;
    background-color: #FFFFFF;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #e8e8e8;
}

.dropdown-runtojob li {
    line-height: 32px;
    display: block;
    margin: 0;
}

.dropdown-runtojob li.add_divine {
    border-top: 1px solid #e8e8e8;
    margin-top: 3px;
}

.dropdown-runtojob li.add_divine:before {
    content: '';
    display: block;
    margin-top: 3px;
}

.dropdown-runtojob li a {
    color: #657786;
    padding: 1px 30px;
    text-decoration: none;
    display: block;
    font-weight: normal;
    background-color: #FFFFFF;
}

.dropdown-runtojob li a:hover {
    background-color: #f1f1f1;
    color: #657786;
}

.follow-list-card .ant-card-head {
    padding: 10px 16px;
    min-height: initial;
}

.follow-list-card .ant-card-body {
    padding: 16px;
}

.ant-card-head-title {
    font-weight: bold;
    padding: 0;
    font-size: 14px;
}

.follow-list-footer {
    padding-top: 10px;
}

.follow-list-footer a i {
    margin-right: 5px;
}

.follow-list-footer a {
    color: #009688;
    text-decoration: none;
}

.headering h3 {
    font-size: 24px;
    color: #333333;
    padding-bottom: 3px;
    border-bottom: 3px solid #f5f5f5;
    user-select: none;
    font-family: 'rus', sans-serif;
}

.sec-profile {
    padding: 16px;
}

.sec-profile .body-section {
    font-size: 14px;
    color: #657786;
    text-align: justify;
}

.margin-b-3 {
    margin-bottom: 30px;
}

.margin-b-2 {
    margin-bottom: 20px;
}

.margin-b-1 {
    margin-bottom: 10px;
}

.margin-t-3 {
    margin-top: 30px;
}

.margin-t-2 {
    margin-top: 20px;
}

.margin-t-1 {
    margin-top: 10px;
}

.profile-head {
    padding: 32px 16px;
    position: relative;
    background: url('../contents/car_hd.jpg') center center;
}

.profile-head:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

.profile-head-text ul,
.profile-head-text img {
    color: white;
    position: relative;
    z-index: 1;
}

.profile-head .meta {
    display: block;
}

.profile-head .meta:after {
    content: ' ';
    display: block;
    clear: both;
}

.profile-head .meta img {
    width: 128px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.profile-head .meta .data-user {
    float: left;
    margin: 0;
    padding: 0;
}

.profile-head .meta .data-user li {
    display: block;
    font-size: 14px;
    color: #FFFFFF;
}

.profile-head .meta .data-user li i {
    width: 24px;
    text-align: left;
    vertical-align: baseline;
}

.profile-head .meta .data-user li:nth-of-type(1) {
    font-size: 24px;
}

.profile-head .meta .btn-user {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 16px;
    right: 16px;
}

.profile-head .meta .btn-user li {
    list-style: none;
    display: inline-block;
    margin-left: 5px;
}

.list-skill .ant-tag {
    color: #657786;
    font-size: 14px;
    padding: 0 9px;
    line-height: 24px;
    height: 26px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.list-skill p {
    line-height: 8px;
    color: #657786;
}

.list-skill p span:first-of-type:after {
    content: ':';
    margin: 0 5px;
}

.list-skill p span.list-role-main span:first-of-type:after,
.list-skill p span.list-role-main span:after {
    content: ', ';
    margin: initial;
}

.list-skill p span.list-role-main span:last-of-type:after {
    content: '';
}

.list-skill .total-exp-year {
    margin-right: 5px;
}

.total-exp span {}

.list-history-work span {
    font-weight: normal;
}

.list-history-work .ant-list-item-meta-title {
    font-size: 18px;
    margin-bottom: 9px;
}

.list-history-work .ant-list-item-meta-description,
.list-history-achievement .ant-list-item-meta-description {
    color: #657786;
    text-align: justify;
}

.list-history-work .company-work span:nth-of-type(1) {
    color: #333333;
}

.list-history-work .company-work span:nth-of-type(2) {
    color: #656565;
    padding: 0 6px;
}

.list-history-work .company-work span:nth-of-type(3) {
    color: #009688;
}

.list-history-work .meta-education {
    display: block;
    color: #657786;
    font-size: 14px;
}

.list-history-work .meta-education span span {
    margin-right: 6px;
}

.list-history-work .meta-education span span:nth-last-of-type(2) {
    margin-right: 0;
    color: #009688;
}

.list-history-work .meta-education span span:nth-last-of-type(2):after {
    content: '-';
    padding: 0 5px;
    color: #657786;
}

.list-history-work .meta-history-work {
    color: #657786;
    font-size: 14px;
}

.list-history-work .meta-history-work span {
    display: block;
}

.list-history-work .meta-history-work span i,
.list-history-work .meta-education span i {
    margin-right: 3px;
}

.list-history-work .ant-avatar-lg {
    width: 64px;
    height: 64px;
    background-color: #e1e6f0;
}

.export-btn-profile {
    width: 100%;
}

.list-history-achievement span {
    font-weight: normal;
}

.list-history-achievement .ac-month {
    width: 64px;
    display: block;
    text-align: center;
}

.list-history-achievement .ac-month i {
    display: block;
    font-size: 20px;
    padding: 3px 0 10px 0;
}

.list-history-achievement .ac-month span {
    font-size: 14px;
    color: #657786;
    font-weight: normal;
}

.list-history-achievement .ant-list-item-meta-title {
    font-size: 18px;
    color: #333333;
}

.list-history-achievement .ant-list-item-meta {}

.list-history-achievement .project-name {
    font-size: 14px;
    color: #009688;
    display: block;
}

.ant-list-split .ant-list-item {
    border-bottom: 1px solid #f5f5f5;
}

.list-job-active {
    margin: 0;
    padding: 0;
}

.list-job-active li {
    list-style: none;
    display: block;
    line-height: 24px;
}

.list-job-active li:nth-of-type(4):after {
    content: ' ';
    display: block;
    border-top: 1px solid #f5f5f5;
    margin: 10px 0;
}

.list-job-active li:nth-of-type(5) span {
    color: #009688;
    font-size: 16px;
}

.list-job-active li:nth-of-type(5) span i {
    margin-right: 5px;
    margin-bottom: 9px;
}

.list-job-active li span i {
    margin-right: 5px;
}

.list-job-active span.find-job-enable i {
    color: #009688;
}

.list-contact {
    margin: 0;
    padding: 0;
}

.list-contact li {
    display: block;
    list-style: none;
    line-height: 24px;
}

.list-contact li i {
    margin-right: 5px;
}

.list-language {
    margin: 0;
    padding: 0;
}

.list-language>li {
    list-style: none;
    line-height: 24px;
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #f5f5f5;
}

.list-language>li:nth-of-type(1) {
    padding-top: 0;
}

.list-language>li:last-of-type {
    border: 0;
}

.list-language>li:after {
    content: ' ';
    clear: both;
    display: block;
}

.list-language>li span:nth-of-type(1) {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.list-language>li span:nth-of-type(2) {
    float: left;
}

.list-language>li span:nth-of-type(3) {
    float: right;
    text-align: right;
    width: 70%;
}

.list-language .ant-rate {
    color: #009688;
    font-size: 14px;
}

.login-header h3 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 24px;
    margin: 0 0 16px 0;
}

.login-form .ant-form-item {
    margin-bottom: 16px;
}

.login-form .login-meta {
    display: block;
}

.login-form .login-meta button {
    display: block;
    width: 100%;
}

.login-form .login-meta .login-form-forgot {
    float: left;
}

.login-form .login-meta .login-from-register {
    float: right;
    text-align: right;
}

.login-form .login-meta:after {
    content: ' ';
    display: block;
    clear: both;
}